// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	font-family: 'Cantarell', sans-serif;
}
// Navbar
.ui.secondary.inverted.menu, .ui.vertical.secondary.menu .item>.menu .item {
	background-color: #383A3F;
}
.ui.menu .item>img:not(.ui) {
	    width: 4.5em;
}

.ui.menu .item {
		color: white;
	}

.title-news {
	margin-top: 2em;
	padding-bottom: 1em;
}
// articles
section {

	.link-article {
		text-decoration: none;
		color: black;
	}
	.img-post {
		margin-bottom: 0em;
	}
}

.header-posts {
	margin-bottom: 1em;
	margin-top: 0em;
}

.img-article {
	height: 26em;
	margin-bottom: 1em;
}

//PLAYLIST

.title-song {
	font-size: 1.3em; 
}

.song {
	margin-top: 1em;
	margin-bottom: 1em;
}

.song:hover{
	cursor: pointer;
}

//BIO

.img-band {
	max-width: 100%;
}

.ui.huge.header {
    min-height: 1em;
    font-size: 8em;
}
// footer
h3.ui.header {
    font-size: 2.28rem;
}

footer {
	margin-top: 3em;
	margin-bottom: 1em;
}

